/*                componentes de estrutura do site      */
*{
    margin: 0;
    padding: 0;
    clear: both;
   
}





body{
background-color:  rgb(19, 10, 10);
font-family: Arial, Helvetica, sans-serif;

}



header{
  
background-color: rgb(19, 10, 10);

}

body header img{
    display: block;
    margin: auto;
    height: 250px;
    width: auto;
    margin-top: 10px;
}

section{
    padding-bottom: 50px;
}
main{



}
main section div img{
    height: auto ;
    width: 500px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding-top: 25px;
    border-radius: 10px;
    border: 3px;
    
}

article{
    display: inline-block;
    margin: 0 auto;
    width: 100%; 
}
main article div ul img{
height: 200px;
width: auto;
margin: 5px 25px;
border-radius: 5px;


}


main article div ul p{
    color: white;
    display: inline;
    
}

main section p {
display: block;
margin-top: 38px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 0px;
color: white;
}


footer{
background-color: blue;


}


/*                    classes                     */


.geral{
    text-align: center;

}


.h4{
    margin-left: 45px;
    margin-top: 5px;
    color: white;
}


header nav ul li a{
    text-decoration: none;
    
}

.menu-principal{
    background-color:  rgb(19, 10, 10);
    width: 100%;
    list-style-type: none;
}

.menu-principal li{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(19, 10, 10);
    color: white;
    width: 100%;
    display: inline;
    text-decoration: none;
    padding: 3px 45px;
    padding-bottom: 0px;


}


.generos{


}

.destaque{
    background-color: rgb(19, 10, 10);
    height: 450px;
  
}

.catalogo{
    
    display: block;
    margin: auto;
}

.imagem-catalogo{
    display: inline;

}

.catalogo ul{
    text-align: center;
}